@using DisplatePlanner.Models
@inject HttpClient httpClient

<input type="text" @bind="searchTerm" @oninput="FilterPlates" placeholder="Search" class="search-box" />
<div class="selection-items-container">
    @if (filteredPlates == null)
    {
        <div class="loading-container">
            <div class="spinner"></div>
            <span>Loading...</span>
        </div>
    }
    else
    {
        <Virtualize Items="@filteredPlates" Context="plate">
            <div @key="plate.Id" class="selection-item" @onclick="() => PlateClicked(plate)">
                <span class="ribbon @plate.Type">
                    @(typeDictionary.TryGetValue(plate.Type, out var name) ? name : "?")
                </span>
                <img loading="lazy" src="@plate.ImageUrl" />
                <span>@plate.Name</span>
            </div>
        </Virtualize>
    }
</div>