@using DisplatePlanner.Enums
@using DisplatePlanner.Models

<input type="text" @bind="searchTerm" @oninput="FilterPlates" placeholder="Search" class="search-box" />
<NormalPlateSearch PlateAddedEvent="AddPlate" />
<div class="size-container">
    <span>Size:</span>
    <InputRadioGroup @bind-Value="selectedPlateSize">
        <label>
            <InputRadio Value="@PlateSize.S" /> S
        </label>
        <label >
            <InputRadio Value="@PlateSize.M" /> M
        </label >
        <label>
            <InputRadio Value="@PlateSize.L" /> L
        </label>
    </InputRadioGroup>
</div>

<div class="selection-items-container">
    @if (filteredPlates == null)
    {
        <div class="loading-container">
            <div class="spinner"></div>
            <span>Loading...</span>
        </div>
    }
    else
    {
        <Virtualize Items="@filteredPlates" Context="plate">
            <div class="selection-item" @onclick="() => PlateClicked(plate)">
                <img loading="lazy" src="@plate.ImageUrl" />
                <span class="normal-name" title="@plate.Name">@plate.Name</span>
                <button class="delete-button" @onclick="() => RemovePlate(plate)" @onclick:stopPropagation>
                    <XIcon StrokeThickness="4"/>
                </button>
            </div>
        </Virtualize>
    }
</div>
